<template>
    <div id="panel">
        <input data-testid="new-task" placeholder="New Task" v-model="newTask.name" v-on:keyup.enter="addTask" data-cy="task">
        <span>
            <button id="add-button" data-testid="add-button" v-on:click="addTask" data-cy="submit">ADD</button>
        </span>
    </div>
</template>

<script>
import {API} from '../api.js';
// import {Task} from '../models/Task.js';
const api = new API();

export default {
    name:"panel",
    data() {
        return {
            'newTask': {}
        };
    },
    methods: { 
        addTask: function() {
            api.addTodo(this.newTask)
            .then(r => 
                this.newTask = r,
                this.$emit('addedTodo', this.newTask),
            )
 
            }
    }
}
</script>


