<template>
  <div id="todo-list">
    <TodoItem :task="task" v-for="task of tasks" :key="task.id" data-cy="list"></TodoItem>
    <Panel @addedTodo="addTask"></Panel>
  </div>
</template>

<script>
  import {API} from '../api.js';
  import TodoItem from './TodoItem.vue'
  import Panel from './Panel.vue'
  const api = new API();

  export default {
    name:"todo-list",
    components: {
      TodoItem,
      Panel,
    },
    data() {
      return {
        tasks: [],
      };
    },
    async created() {
      this.tasks = {}
      api.getAllTodo()
        .then(r => 
          this.tasks=r.items? r.items:[]
        )
    },
    methods: { 
        addTask(task) {
              this.tasks.push(task)
          }
    }
  }
</script>


