<template>
    <div id="todo-item" data-testid="todo-item">
      {{ name }}
    </div>
</template>

<script>
// import {Task} from '../models/Task.js';
    export default {
        name: 'todo-item',
        props:['task'],

        data() {
            return {
                'name': this.task.name,
                'id': this.task.id,
            };
        },
    }
</script>