<template>
  <div id="App" class="container">
    <TodoItems></TodoItems>
  </div>
</template>

<script>
import TodoItems from './components/TodoItems.vue'

export default {
  name: 'App',
  components: {
    TodoItems,
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
